
<%- include('components/head') %>
<main>
    <header>  <h1><%= site.title %></h1></header>
  
    <section class="allScans">
        <!-- automatisch scan resultaat met chart -->
        <!-- als er scans zijn laat dan de layout zien  -->
        <% if (allScans && allScans.length > 0) { %>
            <% allScans.forEach(item => { %>
                <article class="auto-scan">
                    <h1><%= item.title %></h1>
                    <p><%= item.description %></p>
                    <div class="pie-chart">
                       <%= item.score %>
                    </div>
                   
                </article>
                <h1>Errors voor <%= item.title %></h2>
                <section class="allErrors">
                        <ul>
                            <!-- Als er resultaten zijn en als lengte groter is dan 0 -->
                            <!--Loop door elk error item en laat de title zien en errors -->
                            <% if (item.result && item.result.length > 0) { %>
                                <% item.result.forEach(error => { %>
                                    <li class="single-error"><p><%= error.title %> <%= error.amount %> </p> <img class="icon-img-error-type" src="/images/landscape-icon.svg" alt="icon"></li>
                                <% }); %>
                            <% } else  { %>
                                <!-- als er geen scans zijn  -->
                                <p>Geen errors gevonden </p> 
                            <% } %>
                        </ul>
                  
                </section>
            <% }); %>
        <% } else { %>
            <p>No scans available for this site.</p>
        <% } %>
       
       
    </section>
</main>
</body>
</html>

