<%- include('components/head') %>
<main>
    <header>
      <a href="/">back</a>
        <h1><%= site.title %>/home</h1>
        <div class="navigatie-carousel">
          <button class="carousel-button-left" aria-label="vorige">
            <img src="/images/pointer-left.svg" height="15" width="15" alt="button-left">
        </button>
        <p  id="current-scan-date">Date:<span></span></p>

        <button class="carousel-button-right" aria-label="volgende">
            <img src="/images/pointer-right.svg" height="15" width="15" alt="button-right">
        </button>
        </div>
        
    </header>
    
<div class="js-dissabled">
  <p>Scroll om meer scans te zien!</p>
</div>

    <section class="allScans">
        <% if (allScans && allScans.length > 0) { %>
          <% console.log(allScans.forEach(item => {item.id}))%>
            <% allScans.forEach(item => { %>
                <section class="single-scan"   id="scan-<%= item.id %>"  data-scan-date="<%= item.date %>">
                    <article class="auto-scan">
                        <div>
                            <h1 class="title-scan"><%= item.title %></h1>
                            <p class="scan-details"><%= item.description %></p>
                        </div>
                        <div class="doughnut-chart">
                            <div class="outer">
                                <p class="autoScan-score"><%= item.score %>%</p>
                          
                            </div>
                        </div>
                    </article>
                    <section class="allErrors">
                      <% if (item.result && item.result.length > 0) { %>  
                          <% item.result.forEach(error => { %>
                              <article class="single-error">
                                  <p class="result-title"><%= error.title %></p>
                                  <div class="result-info">
                                    <h3 class="error-amount"><%= error.amount %></h3>
                                    <!-- images inladen -->
                                    <% let img;
                                    switch (error.title) {
                                     case 'Ontdekte fouten':
                                       img = 'ontdekte-fouten.svg';
                                       break;

                                      case 'Contrast fouten':
                                       img = 'contrast-icon.svg';
                                      break;

                                     case 'Structurele fouten':
                                       img = 'structuur.svg';
                                     break;
                                     case 'Ontbrekende alt-teksten':
                                       img = 'landscape-icon.svg';
                                     break;

                                     case 'Ontbrekende aria-labels':
                                       img = 'Aria-labels.svg';
                                     break;

                                     default: 
                                     img = 'landscape-icon.svg';
                                 
                                    }
                                    %>
                                   <img class="icon-img-error-type" src="/images/<%= img %>" width="40" height="40" alt="<%= error.title %>-icoon">
                                  </div> 
                              </article>
                          <% }); %>
                      <% } else { %>
                          <p>Geen errors gevonden</p>
                      <% } %>
                  </section>
                  <script>
                    window.scanData = <%- JSON.stringify(allScans) %>
                  </script>
                    <section>
                        <div class="bar-chart"> 
                          <h3>Soorten foutmeldingen</h3>
                            <canvas id="myChart-<%= item.id %>" width="400" height="200"></canvas>
                  <!-- Als er geen js is  -->
                              <div class="js-dissabled resultaat-lijst-errors" >
                                  <p><strong>Contrast:</strong> <%= item.result[1].amount %><p>
                                  <p><strong>Structureel:</strong> <%= item.result[2].amount %></p>
                                  <p><strong>Alt-teksten:</strong> <%= item.result[3].amount %></p>
                                  <p><strong>Aria-labels:</strong> <%= item.result[4].amount %></p>
                              
                              </div>
                            
                        </div>
                        <!-- <div class="lineChart">
                          <h3>Toegankelijkheid</h3>
                          <canvas id="lineChart2-<%= item.id %>" width="400" height="200"></canvas>
                        </div>       -->
                
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        
                    </section>
                  
                </section>
            <% }); %>
        <% } else { %>
            <p>No scans available for this site.</p>
        <% } %>
        
        <!-- <div class="graph-chart">
          <h3>Toegankelijkheid</h3>
             <canvas id="graph-chart1>" width="400" height="200"></canvas>
         </div> -->
    </section>
</main>

</body>
</html>
