<%- include('components/head') %>

    <header>
      <a href="/">back</a>
        <h1><%= site.title %></h1>
        <div class="navigatie-carousel">
          <button class="carousel-button-left" aria-label="vorige">
            <img src="/images/pointer-left.svg" alt="button-left">
        </button>
        <p aria-label="datum scan">Date</p>
        <button class="carousel-button-right" aria-label="volgende">
            <img src="/images/pointer-right.svg" alt="button-right">
        </button>
        </div>
        
    </header>
    
    <main>
    <section class="allScans">
        <% if (allScans && allScans.length > 0) { %>
            <% allScans.forEach(item => { %>
                <section class="single-scan">
                    <article class="auto-scan" aria-label="Autoscan resultaat">
                        <div>
                            <h1 class="title-scan"><%= item.title %></h1>
                            <p class="scan-details"><%= item.description %></p>
                        </div>
                        <div class="doughnut-chart">
                            <div class="outer">
                                <p class="autoScan-score"><%= item.score %>%</p>
                          
                            </div>
                        </div>
                    </article>

                    <section>
                        <div class="bar-chart">
                            <canvas id="myChart-<%= item.id %>"></canvas>
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                const ctx = document.getElementById('myChart-<%= item.id %>');
                                //forEach-loop
                                const data = [<% item.result.slice(1).forEach(error => { %> '<%= error.amount %>', <% }); %>];

                                // lolipopChart:
                                const lollipopChart = {
                                    id: 'lollipopChart',
                                    afterDatasetsDraw(chart, args, options) {
                                        const { ctx, chartArea: { top, bottom, left, right, width, height }, scales: { x, y } } = chart;
                                        chart.data.datasets.forEach((dataset, datasetIndex) => {
                                            const meta = chart.getDatasetMeta(datasetIndex);
                                            meta.data.forEach((bar, index) => {
                                                const { x: barX, y: barY } = bar.tooltipPosition();
                                                ctx.save();
                                                ctx.beginPath();
                                                ctx.arc(barX, barY, 5, 0, 2 * Math.PI);
                                                ctx.fillStyle = 'blue';
                                                ctx.fill();
                                                ctx.restore();
                                  // end
                                            });
                                        });
                                    }
                                };
                                new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ['Contrast', 'Structureel', 'Alt-teksten', 'Aria-labels'],
                                        datasets: [{
                                            label: 'Soorten foutmeldingen',
                                            data: data,
                                            backgroundColor: 'rgba(66, 133, 244, 0.2)',
                                            borderColor: 'rgba(66, 133, 244, 1)',
                                            borderWidth: 1,
                                            barPercentage:0.03  
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    },
                                    plugins: [lollipopChart]
                                });
                            });
                        </script>
                    </section>
                    <section class="allErrors">
                        <% if (item.result && item.result.length > 0) { %>
                            <% item.result.forEach(error => { %>
                                <article class="single-error">
                                    <p class="result-title"><%= error.title %></p>
                                    <div class="result-info">
                                      <p class="error-amount"><%= error.amount %></p>

                                      <!-- images inladen -->
                                      <% let img;
                                      switch (error.title) {
                                       case 'Ontdekte fouten':
                                         img = 'ontdekte-fouten.svg';
                                         break;

                                        case 'Contrast fouten':
                                         img = 'contrast-icon.svg';
                                        break;

                                       case 'Structurele fouten':
                                         img = 'structuur.svg';
                                       break;
                                       case 'Ontbrekende alt-teksten':
                                         img = 'landscape-icon.svg';
                                       break;

                                       case 'Ontbrekende aria-labels':
                                         img = 'Aria-labels.svg';
                                       break;

                                       default: 
                                       img = 'landscape-icon.svg';
                                   
                                      }
                                      
                                      %>
                                   
                                     <img class="icon-img-error-type" src="/images/<%= img %>" alt="<%= error.title %>-icoon">
                               
                                    </div>
                                   
                                </article>
                            <% }); %>
                        <% } else { %>
                            <p>Geen errors gevonden</p>
                        <% } %>
                    </section>
                </section>
            <% }); %>
        <% } else { %>
            <p>No scans available for this site.</p>
        <% } %>
    </section>
</main>
</body>
</html>
