<%- include('components/head') %>
<main>
    <h1><%= site.title %></h1>
    <section class="allScans">
        <!-- automatisch scan resultaat met chart -->
        <!-- als er scans zijn laat dan de layout zien  -->
        <% if (allScans && allScans.length > 0) { %>
            <% allScans.forEach(item => { %>
                <article class="auto-scan">
                    <h1><%= item.title %></h1>
                    <p><%= item.description %></p>
                    <div class="pie-chart">
                       <%= item.score %>
                    </div>
                   
                </article>
                <section class="allErrors">
                    <article>
                        <h2>Errors voor <%= item.title %></h2>
                        <ul>
                            <!-- Als er resultaten zijn en als lengte groter is dan 0 -->
                            <!--Loor door elk error item en laat de title zien en errors -->
                            <% if (item.result && item.result.length > 0) { %>
                                <% item.result.forEach(error => { %>
                                    <p><%= error.title %>: <%= error.amount %></p>
                                <% }); %>
                            <% } else  { %>
                                <!-- als er geen scans zijn  -->
                                <p>Geen errors gevonden </p> 
                            <% } %>
                        </ul>
                    </article>
                </section>
            <% }); %>
        <% } else { %>
            <p>No scans available for this site.</p>
        <% } %>
    </section>
</main>
</body>
</html>

